{% extends 'base.html.twig' %}

{% block title %}
	{{ title|trans|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}

	{% include "partials/page_title.html.twig" with {
        title: title|trans, 
        icon: 'login',
    } %}

	<div class="card bg-light shadow mx-auto" style="max-width: 35rem;">
		<div class="card-body">

			<form method="post">
				{% if error %}
					<div class="alert alert-danger">
						{{ ux_icon('danger', {class: 'text-danger mb-1'}) }}
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				{% if app.user %}
					<div class="alert alert-info">
						{{ 'You are logged in as'|trans([], 'security') }}
						{{ app.user.userIdentifier }},
						<a href="{{ path('security.logout') }}">
                            {{ 'logout'|trans|capitalize }}
                        </a>
					</div>
				{% endif %}

				<div class="mb-4">
					<label for="username">{{ 'Identifier'|trans([], 'forms') }}</label>
					<input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" required>
				</div>

				<div class="toggle-password-container">
					<label for="_password">{{ 'Password'|trans([], 'forms') }}</label>
					<input type="password" name="_password" id="_password" class="form-control" autocomplete="current-password" required {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {visibleLabel: 'Afficher', hiddenLabel: 'Masquer', buttonClasses: ['toggle-password-button']} ) }}>
				</div>

				<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

				<div class="form-check form-switch mb-3 mt-3">
					<input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input" checked>
					<label for="_remember_me" class="form-check-label">
						{{ ux_icon('fingerprint') }}
						{{ 'Remember me'|trans([], 'forms') }}
					</label>
				</div>
				<div class="d-grid mx-auto">
					<button class="btn btn-lg btn-primary" type="submit">
						{{ ux_icon('login', {width: '20', height: '20'}) }}
						{{ title|trans|capitalize }}
					</button>
				</div>
			</form>
		</div>
		<div class="card-footer">
			<div class="d-flex gap-2 justify-content-center">
				<a href="{{ path('security.register') }}" class="btn btn-sm btn-outline-secondary">
					{{ ux_icon('register') }}
					{{ 'register'|trans|capitalize }}
				</a>
				<a href="#" class="btn btn-sm btn-outline-secondary">
					{{ ux_icon('reload') }}
					{{ 'forgotten password'|trans|capitalize }}
				</a>
			</div>
		</div>
	</div>
{% endblock %}
