{% extends 'base.html.twig' %}

{% block title %}
	{{ title|trans([], 'security')|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}

	{% include "partials/page_title.html.twig" with {
        title: title|trans([], 'security'), 
        icon: 'reload',
    } %}

	<div class="card bg-light shadow w-50 m-auto">
		<div class="card-body">
			{{ form_start(form) }}
			{{ form_row(form.password) }}
			<div class="d-grid mx-auto">
				<button type="submit" class="btn btn-lg btn-primary">
					{{ ux_icon('save', {width: '20', height: '20'}) }}
					{{ 'save'|trans|capitalize }}
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
