{% extends 'base.html.twig' %}

{% block title %}
	{{ title|trans|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>
		{{ ux_icon('home', {class: 'mb-2', width: '30', height: '30'}) }}
		{{ 'welcome on'|trans|capitalize }} {{ app_name }}
	</h1>
    <hr>
	<twig:Alert title="{{ 'hello'|trans|capitalize }}" content="Oyé les gens" />
{% endblock %}
