<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary shadow mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app.index') }}">
			<img src="{{ asset(app_logo_path) }}" alt="Logo" width="35" height="35">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link {{ app.current_route == 'app.home' ? 'active' : null }}" href="{{ path('app.home') }}">
						{{ ux_icon('home', {class: 'text-info mb-1'}) }}
						{{ 'home'|trans|capitalize}}
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ ux_icon('bi:person-workspace', {class: 'text-info mb-1'}) }}
						Démo
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item {{ app.current_route starts with 'demo.form.' ? 'active' : null }}" href="{{ path('demo.pdf.app') }}">
								{{ ux_icon('pdf', {class: 'text-danger mb-1'}) }}
								PDF
							</a>
						</li>
						<li>
							<a class="dropdown-item {{ app.current_route == 'demo.form' ? 'active' : null }}" href="{{ path('demo.form') }}">
								{{ ux_icon('bi:input-cursor', {class: 'text-info mb-1'}) }}
								Formulaire
							</a>
						</li>
						<li>
							<a class="dropdown-item {{ app.current_route == 'demo.twig' ? 'active' : null }}" href="{{ path('demo.twig') }}">
								{{ ux_icon('twig', {class: 'mb-1'}) }}
								Twig
							</a>
						</li>
						<li>
							<a class="dropdown-item {{ app.current_route == 'demo.calendar' ? 'active' : null }}" href="{{ path('demo.calendar') }}">
								{{ ux_icon('calendar', {class: 'text-info mb-1'}) }}
								Calendrier
							</a>
						</li>
						<li>
							<a class="dropdown-item {{ app.current_route == 'demo.log.search' ? 'active' : null }}" href="{{ path('demo.log.search') }}">
								{{ ux_icon('search', {class: 'text-info mb-1'}) }}
								Composant de recherche
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ ux_icon('gear', {class: 'text-info mb-1'}) }}
						{{ 'application'|trans|capitalize }}
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item {{ app.current_route starts with 'tablette.' ? 'active' : null }}" href="{{ path('tablette.list') }}">
								{{ ux_icon(constant('App\\Entity\\Tablette::ICON'), {class: 'text-info mb-1'}) }}
								Tablettes
							</a>
						</li>
						<li>
							<a class="dropdown-item {{ app.current_route starts with 'log.' ? 'active' : null }}" href="{{ path('log.list') }}">
								{{ ux_icon(constant('App\\Entity\\Log::ICON'), {class: 'text-info mb-1'}) }}
								{{ 'logs'|trans|capitalize }}
							</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('admin') }}">
								{{ ux_icon('dashboard', {class: 'text-warning mb-1'}) }}
								{{ 'administration'|trans|capitalize }}
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app.readme') }}">
								{{ ux_icon('book', {class: 'text-info mb-1'}) }}
								{{ 'readme'|trans|capitalize }}
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app.changelog') }}">
								{{ ux_icon('bi:calendar-week', {class: 'text-info mb-1'}) }}
								{{ 'changelog'|trans|capitalize }}
							</a>
						</li>
					</ul>
				</li>
			</ul>
			{% if app.user %}
				<ul class="navbar-nav d-flex">
					<li class="nav-item dropdown dropstart">
						<a class="nav-link dropdown-toggle dropend" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<canvas id="avatar" width="30" height="30" data-controller="avatar" data-color="{{ app.user.color }}" data-src="{{ app.user.fullname }}"></canvas>
							<strong>{{ app.user }}</strong>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('security.profile') }}">
									{{ ux_icon('profile', {class: 'text-muted mb-1'}) }}
									{{ 'profile'|trans|capitalize }}
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('security.logout') }}">
									{{ ux_icon('logout', {class: 'text-danger mb-1'}) }}
									{{ 'logout'|trans|capitalize }}
								</a>
							</li>
						</li>
					</li>
				</ul>
			</ul>
		{% endif %}
	</div>
</div></nav>
