{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
	-
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-duallistbox@3.0.9/dist/bootstrap-duallistbox.min.css" integrity="sha256-UhtNPnxCC2m5RO5wDpQbuNKQPHO5dGVhyAV4LGjRtBg=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" integrity="sha256-pdY4ejLKO67E0CM2tbPtq1DJ3VGDVVdqAR6j3ZwdiE4=" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="https://cdn.jsdelivr.net/npm/bootstrap-duallistbox@3.0.9/dist/jquery.bootstrap-duallistbox.min.js" integrity="sha256-WWR4MaxNN2zccw8rjBU8JWOcM5dV57luSalMtoiM3ss=" crossorigin="anonymous"></script>
    <script type="module">
		$("#users").bootstrapDualListbox({
			nonSelectedListLabel: 'Choix',
            selectedListLabel: 'Sélection',
            filterTextClear: 'Supprimer le filtre',
            filterPlaceHolder: 'Filtrer',
            moveOnSelect: true,
            moveAllLabel: 'Tout sélectionner',
            removeAllLabel: 'Tout déselectionner',
            infoText: 'Tous visibles {0}',
            infoTextFiltered: '<span class="label label-warning">Filtré</span> {0} sur {1}',
            infoTextEmpty: 'Vide'
		});

        var btnMoveAll = document.querySelector('button.btn.moveall.btn-default')
        btnMoveAll.setAttribute('class', 'btn btn-sm btn-outline-secondary')
        btnMoveAll.innerHTML = 'Tout sélectionner<i class="bi bi-arrow-right-square ms-1"></i>'

        var btnRemoveAll = document.querySelector('button.btn.removeall.btn-default')
        btnRemoveAll.setAttribute('class', 'btn btn-sm btn-outline-secondary')
        btnRemoveAll.innerHTML = '<i class="bi bi-arrow-left-square me-1"></i>Tout désélectionner'

        var btnClearLeft = document.querySelector('button.btn.clear1.pull-right.btn-default.btn-xs')
        btnClearLeft.setAttribute('class', 'btn btn-sm btn-link text-decoration-none clear1')
        btnClearLeft.setAttribute('title', 'Supprimer le filtre')
        btnClearLeft.innerHTML = '<i class="bi bi-x-square text-danger"></i>'

        var btnClearRight = document.querySelector('button.btn.clear2.pull-right.btn-default.btn-xs')
        btnClearRight.setAttribute('class', 'btn btn-sm btn-link text-decoration-none clear2')
        btnClearRight.setAttribute('title', 'Supprimer le filtre')
        btnClearRight.innerHTML = '<i class="bi bi-x-square text-danger"></i>'
    </script>
{% endblock %}

{% block body %}

	{% include "partials/page_title.html.twig" with {
		title: title, 
		icon: 'bi:input-cursor',
	} %}

	<div class="card bg-light shadow w-50 m-auto">
		<div class="card-body">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button type="submit" class="btn btn-primary">
				Feu !
			</button>
			{{ form_end(form) }}
		</div>
	</div>

	<div class="card bg-light shadow w-50 m-auto mt-3">
		<div class="card-body">
			{{ submitted|highlight('json') }}
		</div>
	</div>
{% endblock %}
