{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}

	{% include "partials/page_title.html.twig" with {
		title: title, 
		icon: 'pdf',
	} %}

	<div class="row">
		<div class="col-md-2">
			<ul class="list-group list-group-flush">
				<a href="{{ path('demo.pdf.app') }}" class="list-group-item list-group-item-action {{ app.current_route == 'demo.pdf.app' ? 'active' : null}}">
					{{ ux_icon('window') }}
					AppPdf
				</a>
				<a href="{{ path('demo.pdf.bookmark') }}" class="list-group-item list-group-item-action {{ app.current_route == 'demo.pdf.bookmark' ? 'active' : null}}">
					{{ ux_icon('bookmark') }}
					Signets
				</a>
				<a href="{{ path('demo.pdf.file') }}" class="list-group-item list-group-item-action {{ app.current_route == 'demo.pdf.file' ? 'active' : null}}">
					{{ ux_icon('paperclip') }}
					Fichier attaché
                </a>
				<a href="{{ path('demo.pdf.rotate') }}" class="list-group-item list-group-item-action {{ app.current_route == 'demo.pdf.rotate' ? 'active' : null}}">
					{{ ux_icon('reload') }}
					Rotations
                </a>
				<a href="{{ path('demo.pdf.geometry') }}" class="list-group-item list-group-item-action {{ app.current_route == 'demo.pdf.geometry' ? 'active' : null}}">
					{{ ux_icon('bi:pencil-square') }}
					Géométrie
                </a>
				<a href="{{ path('demo.pdf.etiquette') }}" class="list-group-item list-group-item-action {{ app.current_route == 'demo.pdf.etiquette' ? 'active' : null}}">
					{{ ux_icon('bi:table') }}
					Etiquettes
                </a>
				<a href="{{ path('demo.pdf.autoprint') }}" class="list-group-item list-group-item-action {{ app.current_route == 'demo.pdf.autoprint' ? 'active' : null}}">
					{{ ux_icon('bi:printer') }}
					AutoPrint
                </a>
				<a href="{{ path('demo.pdf.charts') }}" class="list-group-item list-group-item-action {{ app.current_route == 'demo.pdf.charts' ? 'active' : null}}">
					{{ ux_icon('chart-pie') }}
					Graphiques
                </a>
			</ul>
		</div>
		<div class="col-md-10">
			<div class="card">
				<div class="card-header d-flex flex-wrap justify-content-between align-items-center">
					Fichier :
					{{ filename|basename }}
					<span class="badge text-bg-secondary" title="Emplacement {{ filename|dirname }}">{{ filename|filesize(true) }}</span>
					<button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#optionsModal">
						{{ ux_icon('bi:gear') }}
						Options
					</button>
				</div>
				<div class="card-body">
					<iframe src="{{ asset('docs/' ~ filename|basename) }}" frameborder="0" width="100%" height="800"></iframe>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Options Modal -->
	<div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="optionsModalLabel">Options</h1>
				</div>
				<div class="modal-body">
					{{ pdf.options.toJson|highlight }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
