{% extends "mails/base.html.twig" %}
{% block body %}
	<h1>{{ 'Reset password on {{ name }}'|trans({'{{ name }}': app_name}, 'security') }}</h1>

	<p>
		{{ 'hello'|trans|capitalize }}
		{{ contact }},
	</p>

	<p>
		{{ 'For your reset request, please click on the following link:'|trans([], 'security') }}
		<a href="{{ url|raw }}">{{ 'reset'|trans|capitalize }}</a>. Ce lien expire dans 1 heure.
	</p>
	<p>{{ 'thanks'|trans|capitalize }}.</p>
{% endblock %}
