{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="text-white">
			{{ ux_icon('chart-line', {class: 'mb-2', width: '30', height: '30'})}}
			{{ title }}
		</h1>
		<div class="btn-toolbar" role="toolbar">
			<a href="{{ path('log.list') }}" class="btn btn-light" title="{{ 'list'|trans|capitalize }}" data-toggle="tooltip">
				{{ ux_icon('list') }}
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			{% include "log/_sidebar.html.twig" %}
		</div>
		<div class="col-md-10">
			<div class="card bg-light shadow">
				<div class="card-body">{{ render_chart(chart_hours) }}</div>
			</div>
			<div class="card bg-light shadow mt-3">
				<div class="card-body">{{ render_chart(chart_days) }}</div>
			</div>
		</div>
	</div>
{% endblock %}
