{% extends 'base.html.twig' %}

{% block title %}
	{{ title|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pt-2 pb-2 mb-3">
		<h1 class="text-white">
			{{ ux_icon(constant('App\\Entity\\Log::ICON'), {class: 'mb-2', width: '35', height: '35'}) }}
			{{ title|capitalize }}
		</h1>
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchOffCanvas" aria-controls="searchOffCanvas" title="{{ 'filter'|trans|capitalize }}" data-toggle="tooltip">
					{{ search.vars.submitted ? ux_icon('filter-f', {class: 'text-warning mb-1'}) : ux_icon('filter') }}
				</button>
				{% if search.vars.submitted %}
					<a href="{{ path(app.current_route) }}" class="btn btn-light" title="{{ 'delete filters'|trans|capitalize }}" data-toggle="tooltip">
						{{ ux_icon('close', {class: 'text-danger mb-1'}) }}
					</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="offcanvas offcanvas-end" tabindex="-1" id="searchOffCanvas" aria-labelledby="searchOffCanvasLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="searchOffCanvasLabel">
				{{ ux_icon('search', {class: 'text-info mb-1'}) }}
				{{ 'search'|trans|capitalize }}
			</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
		</div>
		<div class="offcanvas-body">
			{{ form_start(search) }}
			{{ form_rest(search) }}
			<button class="btn btn-primary w-100" type="submit">
				{{ ux_icon('filter') }}
				{{ 'filter'|trans|capitalize }}
			</button>
			{{ form_end(search) }}
		</div>
	</div>

	<div class="card bg-light shadow">
		<div class="card-body">
			<table class="table table-sm table-striped table-hover align-middle">
				<thead>
					<tr>
						<th class="text-center">{{ ux_icon('event')}}</th>
						<th class="text-center">{{ 'message'|trans|capitalize }}</th>
						<th class="text-center">{{ ux_icon(constant('App\\Entity\\User::ICON')) }}</th>
						<th class="text-center">{{ 'level'|trans|capitalize }}</th>
						<th class="text-center">{{ 'channel'|trans|capitalize }}</th>
						<th class="text-center">{{ ux_icon('pointer') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for log in logs %}
						<tr>
							<td class="text-center">{{ log.createdAt|format_datetime('full', 'short') }}</td>
							<td class="text-center">{{ log.message }}</td>
							<td class="text-center">{{ log.user }}</td>
							<td class="text-center">
								{% include "partials/badge_log.html.twig" with {level: log.level} only %}
							</td>
							<td class="text-center">{{ log.channel }}</td>
							<td class="text-center">
								<a href="{{ path('log.show', {id: log.id}) }}" class="btn btn-sm btn-info">
									{{ ux_icon('eye') }}
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{{ knp_pagination_render(logs) }}
		</div>
	</div>
{% endblock %}
