{% extends 'base.html.twig' %}

{% block title %}
	{{ title|trans|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include "partials/page_title.html.twig" with {
        title: title, 
        icon: constant('App\\Entity\\Tablette::ICON'),
        prefix: 'tablette'
    } %}

	{{ include('tablette/_form.html.twig', {'button_label': 'Save'}) }}

	<a href="{{ path('tablette.list') }}">
		{{ 'back to list'|trans|capitalize }}
	</a>

	{% if tablette.id %}
		{{ include('tablette/_delete_form.html.twig') }}
		{% include "tablette/_table.html.twig" with {tablettes: tablette.children} %}
	{% endif %}


{% endblock %}
