{% extends 'base.html.twig' %}

{% block title %}
	{{ title|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">

		{% include "partials/page_title.html.twig" with {
			title: title, 
			icon: constant('App\\Entity\\Tablette::ICON'),
			prefix: 'tablette'
		} %}

		<div class="card bg-light shadow">
			<div class="card-body">
				<table class="table table-striped table-hover align-middle">
					<thead>
						<tr>
							<th class="text-center">{{ ux_icon('pointer') }}</th>
							<th class="text-center">{{ 'Name'|trans([], 'forms')|capitalize }}</th>
							<th class="text-center">{{ 'Slug'|trans([], 'forms')|capitalize }}</th>
							<th class="text-center">{{ 'Icon'|trans([], 'forms')|capitalize }}</th>
							<th class="text-center">{{ 'Color'|trans([], 'forms')|capitalize }}</th>
							<th class="text-center">{{ 'Description'|trans([], 'forms')|capitalize }}</th>
							<th class="text-center">{{ 'Children'|trans([], 'forms')|capitalize }}</th>
						</tr>
					</thead>
					<tbody>
						{% for tablette in tablettes %}
							<tr>
								<td class="text-center">
									<a href="{{ path('tablette.edit', {id: tablette.id, slug: tablette.slug}) }}" class="btn btn-sm">
										{{ ux_icon('bi:pencil-square', {class: 'text-primary'}) }}
									</a>
								</td>
								<td>{{ tablette.name }}</td>
								<td>{{ tablette.slug }}</td>
								<td class="text-center">{{ tablette.icon ? ux_icon(tablette.icon) : null }}</td>
								<td class="text-center">{{ tablette.color|canvas }}</td>
								<td>{{ tablette.description }}</td>
								<td class="text-center">
									<span class="badge text-bg-info">{{ tablette.children }}</span>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ knp_pagination_render(tablettes) }}
			</div>
		</div>
	</div>
{% endblock %}
